/* colors */

/* pink : #F45DA0

blue : #49B4F0

yeollow : #F5E552 
*/

:root {
  --primary-color: #f45da0;
  --secondary-color: #49b4f0;
  --third-color: #add8e6;
  --white-color: #fff;
  --gray-color: #1e1e1e;
  --text-color: #fff;
  --text-gray: #c8c3c3;
  --black-color: #000;
  --parimary-font: "Kumbh Sans", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

/* 576px sm
768px md

992 lg 
1200xl */

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1400px !important;
  }
}

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
  color: var(--text-color);
}
ul,
li {
  list-style: none;
  cursor: pointer;
}
body {
  font-family: var(--parimary-font) !important;
  font-size: 100%;
  font-weight: 400;
}

ul,
ol,
p {
  margin: 0;
  padding: 0;
}

.header-top {
  background-color: var(--gray-color);
  line-height: 10px !important;

  font-weight: 400;
  border-color: #777777 !important;
  color: var(--text-color);
}
.nav {
  font-weight: 600;
  padding: 20px 0;
  z-index: 9999;
}

.menu-items {
  list-style: none;
}
.menu-items > li > a {
  color: #000 !important;
  text-decoration: none;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.hero {
  line-height: 1.4;
  color: #fff;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

#myVideo {
  position: absolute;
  z-index: -999;
  right: 0;
  bottom: 0;
  filter: grayscale(100%);
  opacity: 1.5;

}

.h-640 {
  min-height: 650px;
}
.hero-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 2px;
  color: var(--text-gray);
}
.hero-heading {
  line-height: 1.2;
  font-weight: bold;
  font-size: 80px;
}

@media only screen and (max-width: 576px) {
  .hero-heading {
    font-size: 30px;
  }
  .hero-pera {
    font-size: 14px;
  }
  .hero-btn {
    font-size: 10px;
  }
}

.hero-pera {
  font-size: 18px;
  line-height: 2;
  margin: 1.2rem 0;
  max-width: 62rem;
}

.hero-btn {
  background-color: var(--primary-color);
  padding: 1rem 3.5rem;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
}
.hero-rating {
  font-size: 14px;
}
.bg-squ {
  background-color: #00b67a;
  margin-right: 2px;
  padding: 1px;
}

.bold {
  font-weight: bold;
}

.bg-tranparent {
  background-color: transparent;
  border: 1.3px solid #fff;
}

.service {
  background-image: url("../images/bg/bg-2.webp");
  min-height: 650px;
}

.ser-title {
  color: #fff;
  font-weight: 500;
  padding-bottom: 5px;
}

.ser-heading {
  font-weight: bold;
  color: var(--white-color);
  font-size: 48px;
}

@media only screen and (max-width: 992px) {
  .ser-heading {
    font-size: 35px;
  }
}
.ser-pera {
  color: var(--white-color);
}

.cart {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--white-color);
  min-height: 300px;
  border-radius: 10px;
  cursor: pointer;
}

.img-wrap {
  background-color: #49b4f0;
  margin: 0 80px;
}

.cart-img {
  height: 50px;
}

.service {
  padding: 5rem 0;
}

.products {
  font-family: var(--parimary-font);
}

.product-title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--secondary-color);
}

.product-heading {
  font-weight: bold;
  font-size: 48px;
  color: var(--gray-color);
}

.nav-tabs {
  border: none !important;
}
.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--gray-color);
  padding: 0 2rem;
}

.product-card {
}

.product-card-img {
  border-radius: 10px;
  width: 100%;
}

.whyChoose {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--black-color);
  padding: 4rem;
}

.whyChooseImg {
  height: 33rem;
}

@media only screen and (max-width: 1200px) {
  .whyChooseImg {
    height: 20rem;
    padding: 0 !important;
  }
}


.whyChoose-title {
  font-weight: bold;
}
.whyChoose-heading {
  font-size: 48px;
  font-weight: bold;
}

.data-title {
  font-weight: bold;
}
.icon {
  background: var(--white-color);
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.like {
  height: 60px;
}

@media only screen and (max-width: 992px) {
  .whyChoose {
    padding: 2rem;
  }
  .whyChoose-heading {
    font-size: 30px;
  }
  .whyChoose-pera {
    font-size: 14px;
  }
  .icon {
    height: 40px;
    width: 40px;
  }
  .data-title {
    font-size: 18px;
  }
  .data-pera {
    font-size: 14px;
  }
}
.tes {
  padding: 8rem;
}

.tes-title {
  font-size: 14px;
  color: var(--primary-color);
}

.tes-heading {
  font-size: 41px;
  font-weight: bold;
}

.profile-img {
  height: 120px;
  width: 120px;
}

.bio .name {
  font-weight: bold;
}
.bio .role {
  color: var(--text-gray);
}

@media only screen and (max-width: 576px) {
  .tes {
    padding: 4rem;
  }
  .tes-heading {
    font-size: 20px;
  }
  .tes-pera {
    font-size: 10px;
  }

  .profile-img {
    height: 60px;
    width: 60px;
  }

  .bio {
    font-size: 14px;
    line-height: 1.5;
  }
}

.footer {
  background-color: var(--gray-color);
  color: var(--white-color);
  padding: 2rem  !important;
}

.info-title {
  font-size: 24px;
  font-weight: bold;
}

.info > ul > li {
  text-transform: capitalize;
  line-height: 2;
  cursor: pointer;
}

.pink {
  color: var(--primary-color);
}
.border {
  border-color: var(--primary-color) !important;
}

.email {
  position: relative;
}
.info-email {
  border: none !important;
  min-width: 20rem;
}

.footer-end {
  background-color: #1f1f1f;
  color: var(--white-color);
}

.terms {
  background-color: var(--gray-color);
  padding: 3rem 0;
}
.terms-btn {
  font-weight: bold;
  padding: 1rem 5rem;
  border: 1.5px solid #fff;
  border-radius: 50px;
}

@media only screen and (max-width: 1200px) {
  .terms-btn {
    padding: 1rem 3rem;
  }
}
.catagory {
  padding: 6rem 2rem 6rem 2rem;
}

.catagory-card {
  padding: 1rem 1rem 0.2rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

.catagory-card:hover {
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 30%);
}

.catagory-card img {
  max-height: 2rem;
}

.shipping {
  background-color: #191919;
}

.shipping-title {
  font-weight: bold;
  color: var(--white-color);
  font-size: 20px;
}

.shipping-card {
  max-width: 18rem;
  cursor: pointer;
}

.shipping-card-frame {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #fff;
  padding: 2rem;
}
.shipping-card img {
  max-height: 5rem;
}

.shipping-content {
  background-color: #222222;
  color: var(--text-gray);
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.shipping-content-title {
  font-size: 14px;
  font-weight: bold;
}

.font-16 {
  font-size: 16px;
  font-weight: bold;
}

.shipping-content-price {
  font-size: 14px;
}
